.image {
    height: 380px;
}
.title {
  color: #2550b9;
  text-align: center;
  font-family: "Manrope-Bold", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  width: 380px;
  margin-top: 0;
}