.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  max-width: 100%;
  padding: 80px;
}

.containerFunctionality {
  display: flex;
  max-width: 100%;
}

.title {
  color: #00103d;
  text-align: center;
  font-family: "Manrope-Bold", sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  opacity: 0.9;
  position: relative;
  padding: 0 10px;
}

.text {
  color: #00103d;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  padding: 0 10px;  
  margin: 0;
}

.description {
  color: #00103d;
  text-align: center;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  opacity: 0.6;
  position: relative;
  max-width: 900px;
}

.button {
  background-color: #2550b9;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
}

.button:hover {
  background-color: #1e3e91;
}

.mobileImage {
  display: none;
  margin-top: 30px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantagesImage {
  max-height: 160px;
  width: auto;
}

.advantagesMobileImage {
  display: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-width: 100vw;
    width: 100%;
  }

  .advantages {
    align-items: center;
  }

  .title {
    font-size: 48px;
    line-height: 130%;
    font-weight: 700;
    padding: auto;
    margin-top: 64px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }

  .mobileImage {
    display: block;
  }
  .advantagesMobileImage {
    display: block;
    max-width: 300px;
  }
  .advantagesImage {
    display: none;
  }
}
